* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.main-item {
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  background-color: #eee;
  position: relative;
}

.main-item:last-child {
  margin-right: 0;
}

.main-item h3 {
  margin-top: 15px 0 5px;
}

.main-image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.main-image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  margin-bottom: 15px;
}

.main-image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  margin-bottom: 15px;
}

.step {
  padding: 1px 0;
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

footer {
  height: 50px;
  background-color: #aaa;
}
